pkgbase = hyprwhspr
	pkgdesc = Native speech-to-text for Arch/Omarchy with Hyprland integration
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/goodroot/hyprwhspr
	arch = x86_64
	license = MIT
	depends = python
	depends = ydotool
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	depends = pipewire-jack
	depends = cmake
	depends = make
	depends = git
	depends = base-devel
	optdepends = nvidia-utils: For GPU acceleration
	optdepends = cuda: For GPU acceleration
	install = hyprwhspr.install
	source = hyprwhspr-1.0.0.tar.gz::https://github.com/goodroot/hyprwhspr/archive/v1.0.0.tar.gz
	sha256sums = SKIP
